{% extends "///layout.html" %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
BU Events
{% endblock %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events</title>
</head>

<body>
    {% block body %}
    <section class="event-section">
        <div class="leftBox">
            <div class="content">
                <h1>Events and shows</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque adipisci minus veritatis obcaecati ex
                    perferendis dolorum voluptate quis, nesciunt velit ullam ratione earum consequuntur incidunt. Animi
                    minus officia quos nobis eligendi nemofficiis ad ea deserunt rem! Nesciunt quam fugit adipisci
                    vitae
                    est eligendi quasi repudiandae.</p>
            </div>
        </div>
        <div class="events">
            {% for event in events %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><b>{{event.EventHeading}}</b></h5>
                    <br/>
<!--                    <p class="card-text" style="color:black">{{event.EventDescription}}</p>-->
                    <h6 class="card-subtitle mb-2"><b>Date : </b>{{event.EventDate}}</h6>
                    <h6 class="card-subtitle mb-2"><b>Time : </b>{{event.EventTime}}</h6>
                    <h6 class="card-subtitle mb-2"><b>Venue : </b>{{event.EventVenue}}</h6>

<!--                    <a href="/events/{{event.ID}}" class="card-link"><input type="button"-->
<!--                            value="Read More"></a>-->

<!--                    <br/><br/>-->
<!--                    <a href="/events/add-to-fav/{{event.ID}}" class="card-link"><input type="button"-->
<!--                            value="Add To Favourites"></a>-->

                    {% set session = get_session() %}
                    {% if 'user' in session %}
                    <a href="/events/{{event.ID}}" data-toggle="tooltip" title="Read More">
                        <button>
                            <i class="fa fa-book"></i>
                        </button>
                    </a>

                    <a href="/events/add-to-fav/{{event.ID}}" data-toggle="tooltip" title="Add To Favourites">
                        <button>
                            <i class="fa fa-thumbs-up"></i>
                        </button>
                    </a>

                    {% elif 'admin' in session %}
<!--                    if admin in logged in  ...    -->
                    <a href="/events/{{event.ID}}" data-toggle="tooltip" title="Read More">
                        <button>
                            <i class="fa fa-book"></i>
                        </button>
                    </a>

                    <a href="/events/modify/{{event.ID}}" data-toggle="tooltip" title="Modify Event">
                        <button>
                            <i class="fa fa-edit"></i>
                        </button>
                    </a>

                    <a href="/events/delete/{{event.ID}}" data-toggle="tooltip" title="Delete Event">
                        <button>
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </a>

                    <a href="/events/send-reminder/{{event.ID}}" data-toggle="tooltip" title="Send Reminder">
                        <button>
                            <i class="fa fa-bell"></i>
                        </button>
                    </a>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endblock %}
</body>

</html>